/.ecs export-ignore
/.github export-ignore
/.vscode export-ignore
/tests export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit-report.xml export-ignore
/phpunit.xml export-ignore
/rector.php export-ignore
/sonar-project.properties export-ignore

*.php diff=php
