parameters:
    ignoreErrors:
        - '#Constant MIN_PHP_VERSION not found#'
        - '#Call to an undefined method Chevereto\\Core\\Message::.*#'
        - '#Call to method .* on an unknown class Chevereto\\Core\\Utils\\Message#'
        - '#Constant PATH not found#'
        - '#Constant ROOT_PATH not found#'
        - '#Constant Chevereto\\Core\\App\\.* not found#'
        - '#Constant CORE_NS_HANDLE not found#'
        - '#Constant TIME_BOOTSTRAP not found#'
        - '#Parameter * of class ReflectionFunction constructor expects Closure|string, callable given#'
        - '#Access to an undefined property DateInterval::\$w#'
    
