<?xml version="1.0" encoding="UTF-8"?>
    <phpunit bootstrap="./phpunit.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false">
    <testsuites>
        <testsuite name="Chevere Framework Test suite">
            <directory suffix="Test.php">components/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">components/</directory>
            <exclude>
                <directory>components/*/Tests/</directory>
                <directory>components/*/*/Tests/</directory>
                <directory>Chevere/TestApp/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>