<?xml version="1.0" encoding="UTF-8"?>
    <phpunit bootstrap="./phpunit.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         testdox="false">
    <testsuites>
        <testsuite name="Chevere Tests">
            <directory suffix="Test.php">Tests/</directory>
        </testsuite>
    </testsuites>
    <!-- <logging>
        <log type="coverage-html" target="build/coverage/html"/>
        <log type="coverage-clover" target="build/coverage/clover.xml"/>
    </logging> -->
</phpunit>