<?xml version="1.0" encoding="UTF-8"?>
    <phpunit bootstrap="./phpunit.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         testdox="false">
    <testsuites>
        <testsuite name="Chevere Tests">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">components/</directory>
        </whitelist>
    </filter>
</phpunit>